@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  background: #f9f9f9;
  color: #4a4a4a;
  font-family: 'Open Sans', helvetica, sans-serif;
  line-height: 1.4;
}

header {
  background: #181818;
  color: #f9f9f9;
  padding: 1.5rem 0;
}

header h1 {
  margin: 0;
  font-weight: 600;
}

header h1 small {
  margin-right: .3em;
}

header h1 span {
  color: #1ed760;
  font-weight: 700;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  display: flex;
}

nav, main {
  padding-top: 4rem;
}

nav, main > *:first-child {
  margin-top: 0;
}

nav {
  width: 160px;
}

nav a {
  color: #4a4a4a;
  text-decoration: none;
  transition: all .4s ease-in-out;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding-left: .5em;
}

nav a:hover {
  color: #1ed760;
}

nav a.active {
  color: #1ed760;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  margin-bottom: .2em 0;
}

nav > ul > li > a {
  border-left: 4px solid transparent;
}

nav > ul > li > a.active {
  border-color: #1ed760;
  font-weight: 600;
}

nav ul ul {
  font-size: .85em;
  margin-left: 1em;
  margin-bottom: .5em;
}

main {
  flex: 1;
}

main h1 {
  font-weight: 600;
  padding-bottom: .2em;
  border-bottom: 1px solid #d7d7d7;
}

main h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 0;
}

main table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
}

main table tr:first-child td {
  border-top: 1px solid #d7d7d7;
}

main table tr td {
  border-bottom: 1px solid #d7d7d7;
  vertical-align: top;
  padding: .5em 0;
}

main td:first-child {
  width: 120px;
  text-align: right;
  padding-right: 1em;
}

main td strong {
  display: block;
}

main td small {
  color: #777;
}

main strong {
  font-weight: 600;
}

pre {
  font-size: .85em;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

code strong {
  font-weight: 700;
  font-size: .9em;
}

pre, code {
  border-radius: 4px;
}

pre code {
  background: #181818;
  color: #4a4a4a;
}

@media only screen and (max-width : 960px) {
  .container {
    padding: 0 2em;
  }
}

@media only screen and (max-width : 767px) {
  nav {
    display: none;
  }
}

.message {
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  padding: 1rem;
  font-size: .85em;
}

.message.warning {
  background: #ffcc4d;
  border-color: #ffb600;
}

.message.info {
  background: #4e87d6;
  border-color: #0d5ac5;
  color: #f9f9f9;
}

.message .icon {
  color: rgba(0,0,0, .25);
  font-size: 3rem;
  margin-right: 1rem;
}

.message .content *:first-child {
  margin-top: 0;
}

.message .content h3 {
  color: rgba(0,0,0,.65);
}